<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilangzzy.auth.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.feilangzzy.auth.entity.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_type" jdbcType="CHAR" property="menuType" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.feilangzzy.auth.entity.Menu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu (id, menu_name, menu_type, 
      menu_url, permission, parent_id, 
      parent_ids, sort, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuType,jdbcType=CHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{parentIds,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.feilangzzy.auth.entity.Menu">
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=CHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_ids = #{parentIds,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, menu_name, menu_type, menu_url, permission, parent_id, parent_ids, sort, 
    create_time, update_time
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, menu_name, menu_type, menu_url, permission, parent_id, parent_ids, sort, 
    create_time, update_time
    from menu
  </select>

  <select id="selectMenusByRoleIds" parameterType="List" resultMap="BaseResultMap">
    SELECT
    id, menu_name, menu_type,
    menu_url, permission, parent_id,
    parent_ids, sort, create_time,
    update_time
      from menu m, role_menu rm
      where m.id = rm.menu_id
      and rm.role_id in
      <foreach collection="list" open="(" item="roleId" separator="," close=")">
        roleId
      </foreach>
  </select>
</mapper>